* {
  padding: 0;
  margin: 0;
  font-family: 'Wix Madefor Text', sans-serif;
  box-sizing: border-box;
  background: #03001C;
}

main {
  width: 100%;
  height: 100%;
  padding: 15px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}


#counter {
  font-size: 50px;
  color: white;
  width: 70px;
  cursor: pointer;
  height: 70px;
  border-radius: 50%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 30px
}

#doOrTakeABreathTotal {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
}

#localLittleTimer {
  color: white;
  font-size: 30px;
  width: 130px;
}

.counter-offline {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.counter-online {
  border: 1px solid rgba(68, 221, 51, 0.5);
}

#timer {
  font-size: 25px;
  color: #e08a00;
  width: 102px;
}

.explain {
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerSaved {
  font-size: 20px;

  width: 88px;
}

.type {
  font-size: 15px;
}

.rest {
  color: #a3a3ff;
}

.exercise {
  color: #ff4f4f;
}

.running {
  color: #e08a00;
}

.localItem {
  visibility: hidden;
  position: absolute;
  bottom: -41px;
}

.timerBoth {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.timerSavedTotal {
  font-size: 15px;
  width: 65px;
  color: white;
}

.line {
  width: 25px;
  height: 1px;
}

.bg-rest {
  background-color: #003fad;
}

.bg-exercise {
  background-color: #ff4f4f;
}

.bg-running {
  background-color: #e08a00;
}